.coloreMain {
    background-color: rgb(40, 40, 40);
}

/* modifiche hover */

.sizeIcon:hover {
    color: rgb(0, 228, 0);
}


.linkColor:hover {
    color: rgb(0, 228, 0);
}

.bts,
.btsMobile {
    cursor: pointer;

}

.bts:hover {
    transform: scale(1.05);
}



.main-card-consigliati:hover,
.a-card:hover {
    background-color: rgb(28, 27, 27);
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

/*modifiche hover*/



/*prima section main brano in ascolto*/

#branoInAscolto {
    width: 98%;
    height: 28vh;
    background: linear-gradient(45deg, #121212 0%, #232323 100%, rgb(214, 214, 214) 100%);
}

.main-brano-p {
    font-size: 0.7rem;
}


.linkColor {
    color: white;
}

.annunci {
    background-color: #171717be;
}

.dimensione {
    height: 100%;
    aspect-ratio: 1/1;
    width: 10rem;
}


/* seconda section main consigliati*/

.main-card-consigliati {

    height: 4rem;
    background-color: rgb(50, 50, 50);
    flex: 0 0 calc(50% - 4px);
}


.main-card-consigliati img {

    max-height: 100%;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 768px) {
    .main-card-consigliati {
        flex: 0 0 calc(33.33% - 5.33px);
    }

}

.font-card-consigliati {
    font-size: 0.7rem;
    color: white;
}


.sizeIcon {
    font-size: 1.5rem;

}


/*terza section main altri consigliati*/




.a-cards-container {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.a-card {
    width: 150px;
    background-color: var(--light-grey);
    height: fit-content;
    background-color: rgb(50, 50, 50);

}

.a-card-img {
    width: 100%;
    border-radius: 0.35rem;

}

.a-card-name {
    margin: 0.25rem;
    color: white;

}

.a-card-description {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}

.a-titolo {
    padding-top: 2rem;
}


/*bottoni solo mobile*/

.btsMobile {
    background-color: rgb(50, 50, 50);
}

.btsMobile:hover {
    background-color: rgb(0, 228, 0);

}

.linkColorMobile {
    color: white;
}

.linkColorMobile:hover {
    color: black;
}


.noOverFlow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

a{
    text-decoration: none;
}